<a href="https://colab.research.google.com/github/KumarGaurav20/Previous-Python-codes/blob/main/DataVisualizationPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from os import walk
from os.path import join
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
# For Natural Language Processing
import nltk
from nltk.stem import PorterStemmer     #For stemming(reduction of words)
from nltk.stem import SnowballStemmer   #Another Stemming Methdd
from nltk.corpus import stopwords       #For filtering stopwords(the, is, etc.)
from nltk.tokenize import word_tokenize #For tokkenizing words
from bs4 import BeautifulSoup           #For removing html

from sklearn.model_selection import train_test_split #for training and splitting data

%matplotlib inline

FILE_PATH

In [2]:
FILE_PATH= '/content/heart.csv.xls'

LOADING DATA

In [6]:
data_ = pd.read_csv('/content/heart.csv.xls')

In [8]:
data_

     Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0     40   M           ATA  ...      0.0        Up             0
1     49   F           NAP  ...      1.0      Flat             1
2     37   M           ATA  ...      0.0        Up             0
3     48   F           ASY  ...      1.5      Flat             1
4     54   M           NAP  ...      0.0        Up             0
..   ...  ..           ...  ...      ...       ...           ...
913   45   M            TA  ...      1.2      Flat             1
914   68   M           ASY  ...      3.4      Flat             1
915   57   M           ASY  ...      1.2      Flat             1
916   57   F           ATA  ...      0.0      Flat             1
917   38   M           NAP  ...      0.0        Up             0

[918 rows x 12 columns]